* {
    font-family: 'Crimson Text', serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.error {
    color: red;
    visibility: hidden;
}

.lobby {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(../../assets/images/fog.jpg) center center no-repeat;
    background-size: cover;
    display: none;
    overflow: scroll;
}

.player {
    background: #369;
    color: #F2F2f2;
    text-align: center;
    width: 20%; 
    margin: 5%;
    border-radius: 4px;
    font-size: 1.5em;
}

.players {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.room-code {
    text-align: center;
}

@media only screen and (max-width: 900px) {

    .player {
        width: 40%;
    }

}

/* Mobile */
@media only screen and (max-width: 600px) {

    .player {
        width: 100%; 
        margin: 5px 0;
    }

}